{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped table-bordered data-table" data-url="{{ path('user_index') }}">
        <thead>
            <tr>
                <th>Users list</th>
            </tr>
        </thead>
    </table>

    <div class="hidden template container">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <b>Name</b>:
                    </div>
                    <div class="col-sm-6 name"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Birthdate</b>:
                    </div>
                    <div class="col-sm-6 birtdate"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Age</b>:
                    </div>
                    <div class="col-sm-6 age"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Email</b>:
                    </div>
                    <div class="col-sm-6 email"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Home address</b>:
                    </div>
                    <div class="col-sm-6 home-address"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Company</b>:
                    </div>
                    <div class="col-sm-6 company"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Company address</b>:
                    </div>
                    <div class="col-sm-6 company-address"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <b>Job position</b>:
                    </div>
                    <div class="col-sm-6 position"></div>
                </div>
            </div>
            <div class="col-sm-6">
                <p class="cv"></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css">
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
    <script src="{{ asset('bundles/app/js/main.js') }}"></script>
{% endblock %}