{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First_name</th>
                <th>Last_name</th>
                <th>Birthdate</th>
                <th>Email</th>
                <th>Home_city</th>
                <th>Home_zip</th>
                <th>Home_address</th>
                <th>Phone</th>
                <th>Company_name</th>
                <th>Work_city</th>
                <th>Work_address</th>
                <th>Position</th>
                <th>Cv</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{% if user.birthdate %}{{ user.birthdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.homecity }}</td>
                <td>{{ user.homezip }}</td>
                <td>{{ user.homeaddress }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.companyname }}</td>
                <td>{{ user.workcity }}</td>
                <td>{{ user.workaddress }}</td>
                <td>{{ user.position }}</td>
                <td>{{ user.cv }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
