{% extends 'base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>First_name</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Last_name</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if user.birthdate %}{{ user.birthdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Home_city</th>
                <td>{{ user.homecity }}</td>
            </tr>
            <tr>
                <th>Home_zip</th>
                <td>{{ user.homezip }}</td>
            </tr>
            <tr>
                <th>Home_address</th>
                <td>{{ user.homeaddress }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Company_name</th>
                <td>{{ user.companyname }}</td>
            </tr>
            <tr>
                <th>Work_city</th>
                <td>{{ user.workcity }}</td>
            </tr>
            <tr>
                <th>Work_address</th>
                <td>{{ user.workaddress }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ user.position }}</td>
            </tr>
            <tr>
                <th>Cv</th>
                <td>{{ user.cv }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
